
<div>
  <%= @game.player_1.name %> vs. <%= @game.player_2.name %>
</div>
<div>
  <%= @game.player_2.name %>'s HP: <%= @game.player_2.hit_points %>
</div>
<div>
  <p><%=@game.whos_turn.name %>, it's your turn to Attack!</p>
  <form method="post" action='/attack'>
    <input type="submit" value="Attack"/>
  </form>
</div>
